.weighingScaleDiv {
	background-image: url("./assets/WeighingScaleImage.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

.general {
	background-image: url("./assets/lines.jpg");
	background-attachment: fixed;
	/* opacity: 70%; */
	background-size: cover;
	background-repeat: no-repeat;
}

.hoverEffectOnWishlist:hover {
	box-shadow: 1px 2px 30px #FFA500, 1px 2px 1px white;
	animation: gradient 15s ease infinite;
}

.pricing:hover {
	transform: scale(1.05);
	transition: transform 0.5s ease;
}

.about {
	background-image: url("./assets/MatrixBg.svg");
	z-index: -1;
	background-size: cover;
	background-repeat: no-repeat;
}

.about2 {
	background-image: url("./assets/MatrixBg.svg");
	z-index: -1;
	background-size: cover;
	background-repeat: no-repeat;
	transform: rotate(180deg);
}

.about3 {
	background-image: url("./assets/MatrixBg.svg");
	z-index: -1;
	background-size: cover;
	background-repeat: no-repeat;
}

.about4 {
	background-image: url("./assets/MatrixBg.svg");
	z-index: -1;
	background-size: cover;
	background-repeat: no-repeat;
	transform: rotate(180deg);
}

.right1 {
	box-shadow: 0px 0px 50px #FFA500;
}

.right2 {
	box-shadow: 0px 0px 20px #FFA500;
}


.container {
	position: relative;
	overflow: hidden;
	/* box-shadow: 5px 5px 100px rgba(0, 0, 0, 0.1); */
	/* box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24); */
	box-shadow:
		rgba(22, 31, 39, 0.42) 0px 60px 123px -25px,
		rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
}

.container:hover {
	transform: scale(1.1);
	transition: transform 0.5s ease;

}

.screen1 {
	position: absolute;
	top: 0;
	right: -400px;
	width: 100%;
	height: 100%;
	background-color: #324A5F;
	transition: right 0.5s ease;
}

.screen2 {
	position: absolute;
	top: 0;
	right: -400px;
	width: 100%;
	height: 100%;
	background-color: #324A5F;
	transition: right 0.5s ease;
}

.screen3 {
	position: absolute;
	top: 0;
	right: -400px;
	width: 100%;
	height: 100%;
	background-color: #324A5F;
	transition: right 0.5s ease;
}

.screen4 {
	position: absolute;
	top: 0;
	right: -400px;
	width: 100%;
	height: 100%;
	background-color: #324A5F;
	transition: right 0.5s ease;
}

.screen5 {
	position: absolute;
	top: 0;
	right: -400px;
	width: 100%;
	height: 100%;
	background-color: #324A5F;
	transition: right 0.5s ease;
}

.screen6 {
	position: absolute;
	top: 0;
	right: -400px;
	width: 100%;
	height: 100%;
	background-color: #324A5F;
	transition: right 0.5s ease;
}

.screenA {
	position: absolute;
	top: 0;
	right: -400px;
	width: 100%;
	height: 100%;
	background-color: #324A5F;
	transition: right 0.5s ease;
}

.screenB {
	position: absolute;
	top: 0;
	right: -400px;
	width: 100%;
	height: 100%;
	background-color: #324A5F;
	transition: right 0.5s ease;
}

.screenC {
	position: absolute;
	top: 0;
	right: -400px;
	width: 100%;
	height: 100%;
	background-color: #324A5F;
	transition: right 0.5s ease;
}

.content {
	padding: 20px;
}

.container:hover .screen {
	right: 0;
}

.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
	background-color: #fefefe;
	padding: 20px;
	border: 1px solid #888;
	width: 70vw;
	height: 90vh;
}

.modal-content::-webkit-scrollbar {
	width: 10px;
}

.modal-content::-webkit-scrollbar-track {
	background: black;
}

.modal-content::-webkit-scrollbar-thumb {
	background: white;
}

.modal-content::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

.close:hover,
.close:focus {
	color: orange;
	text-decoration: none;
}

.random {
	box-shadow: 1px 2px 30px #FFA500, 1px 1px 1px;
}

.dropdown {
	width: 200px;
}

.dropdown select {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.burger-menu {
	cursor: pointer;
	background: none;
	border: none;
	padding: 0;
}

.line {
	width: 25px;
	height: 3px;
	background: white;
	margin: 5px;
	transition: all 0.3s ease;
}

.line1-open {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.line2-open {
	opacity: 0;
}

.line3-open {
	transform: rotate(45deg) translate(-5px, -6px);
}

.menu {
	list-style: none;
	padding: 0;
	position: absolute;
	top: 70px;
	right: 20px;
	background-color: black;
	border: 1px solid white;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	z-index: 1000;
}

.menu li {
	padding: 10px;
	border-bottom: 1px solid #ddd;
	cursor: pointer;
}

.menu li:hover {
	background-color: white;
}